extends layout

block layout-content
    nav.navbar
        div.navbar-brand
            a: href="http://www.dbirkemalm.com").navbar-item 
            img(src="icons/icon.png", alt="icon")
    div.hero
      div.container
        h3 Making the Best
        h1 Food For Devs
      span.Details Access the WHATABYTE Team Portal
    div.NavButtons
      a(href="/user")
          span.button Just dive in!